<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
    <link href="flappy.css" rel="stylesheet" type="text/css">
    <script src="flappy.js" type="text/javascript"></script>
    <title>Flappy Dactyl</title>
</head>
<body id ="flappy">
    <h1>Flappy Dactyl</h1>

    <canvas id="c" width="600" height="500"></canvas>

    <script type="text/javascript"></script>
</body>
</html>


