.drag-drop {
    text-align: center;
    font-family: 'Bubblegum Sans';
  }
  
  h1 {
    color: rgb(51, 152, 74);
    font-size: 50px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
  }
  
  
  .dinosaurs {
    list-style: none;
    padding-left: 0;
  }
  
  .dinosaurs li {
    display: flex;
    align-items: center;
    border: solid 6px rgb(74, 74, 74);
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .dinosaurs p {
    max-width: none;
    font-weight: bold;
    margin: 0;
    color: rgb(51, 152, 74);
    font-size: 50px;
  }
  
  .dinosaurs-image {
    overflow: hidden;
    flex-shrink: 0;
    width: 6em;
    height: 6em;
    background-color: rgb(96, 96, 96);
    padding: .5em;
    margin-right: .5em;
  }
  
  .dinosaurs-image img {
    display: block;
    width: 100%;
    height: auto;
  }
  