#homepage {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Bubblegum Sans', cursive;
    margin: 4rem auto 3rem;
    height: 100%;
}

#homeheader {
    display: flex;
    justify-content: center;
    height: 475px;
    padding: 100px auto;
    width: 600px;
    margin: auto;
}

#homeheader div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logopic {
    background-color: #f00;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid yellow;
    width: 400px;
    height: 375px;
}

#homepage h1 {
    color: #f00;
    font-weight: 100;
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 3px white;
    background-color: #000;
    border: 5px solid #ff0;
    margin-top: -75px;
    padding: 8px 8px;
    box-shadow: 6px 13px 10px #465927;
}

#homepage p {
    margin: -25px auto 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: #fff8dc;
}

#homepage p:hover {
    color: #bdb76b;
}

#homepage p button {
    background-image: url(./images/footprint.png);
    display: block;
    height: 150px;
    width: 120px;
    background-color: darkolivegreen;
    border: none;
    background-repeat: no-repeat;
    background-size: 120px;
    margin: auto;
    background-blend-mode: overlay;
}

#homepage p button:hover {
    /* border: 1px solid #fffc00; */
    background-color: transparent;
    background-blend-mode: luminosity;
}
 

/* homepage name popup styles  */

#homepage #user-name-popup {
    display: flex;
    justify-content: center;
}

#user-name-popup form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 5px solid #fffc00;
    padding: 20px;
    background-color: #ff0001;
    margin: 20px;
    box-shadow: 6px 13px 10px #465927;
}

#user-name-popup form label{
    display: block;
    width: 80%;
    margin: 0px auto 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: red;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: 2px white;
    background-color: #000;
    border: 2px solid #ff0;
}

#user-name-popup form input#first-name {
    margin: 0 0 15px 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#user-name-popup form input#namesubmit {
    width: 60%;
    margin: 0px auto 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    text-align: center;
    background-color: #000;
    border: 2px solid #ff0;
}